.button {
  background-color: rgba(251, 143, 29, 1);
  color: #ffffff;
  padding-top: 15px;
  padding-left: 40px;
  padding-bottom: 15px;
  padding-right: 40px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 5px;
  border: none;
  @include media-tablet {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.button--transparent {
  background-color: #ffffff;
  color: rgba(251, 143, 29, 1);
  border: 1px solid rgba(251, 143, 29, 1)
}

