.explore {
  padding-top: 135px;
  padding-bottom: 160px;
  @include media-tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.explore__container {
  @include flex-center;
  gap: 100px;
}

.explore__image-wrapper {
  width: 660px;
  @include media-mobile {
    display: none;
  }
}

.explore__image {
  width: 100%;
  @include media-mobile {
    display: none;
  }
}

.explore__text-wrapper {
  width: 450px;
}

.explore__heading {
  margin-bottom: 40px;
}

.explore__text {
  margin-bottom: 50px;
}