@font-face {
  font-family: Inter;
  font-display: swap;
  font-weight: 300;
  src: url("fonts/Inter-Light.woff2") format('woff2');
}

@font-face {
  font-family: Inter;
  font-display: swap;
  font-weight: 400;
  src: url("fonts/Inter-Regular.woff2") format('woff2');
}

@font-face {
  font-family: Inter;
  font-display: swap;
  font-weight: 500;
  src: url("fonts/Inter-Medium.woff2") format('woff2');
}

@font-face {
  font-family: Inter;
  font-display: swap;
  font-weight: 600;
  src: url("fonts/Inter-SemiBold.woff2") format('woff2');
}

@font-face {
  font-family: Inter;
  font-display: swap;
  font-weight: 700;
  src: url("fonts/Inter-Bold.woff2") format('woff2');
}


.container {
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
  @include media-tablet {
    width: 90%;
  }
}

body {
  font-family: Inter, sans-serif;
}

.heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  color: #000000;
  @include media-mobile {
    font-size: 25px;
  }
}

.text {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(125, 121, 135, 1);
}