.guides {
  padding-top: 90px;
  padding-bottom: 125px;
  @include media-tablet {
    padding-top: 50px;
    padding-bottom: 45px;
  }
}

.guides__container {
  @include flex-center;
  gap: 80px;
}

.guides__text-wrapper {
  width: 480px;
}

.guides__text {
  margin-bottom: 35px;
}

.guides__heading {
  margin-bottom: 30px;
}

.guides__text-wrapper {
  margin-bottom: 50px;
}

.guides__image-wrapper {
  width: 600px;
  @include media-mobile {
    display: none;
  }
}

.guides__image {
  width: 100%;
}