.header {
  padding-top: 45px;
  padding-bottom: 40px;
}

.header__container {
  @include flex-center;
  @include media-tablet {
    display: flex;
    gap: 80px;
  }
  @include media-mobile {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
  }
}

.header__logo{
  @include media-mobile {
  display: none;
  }
}
    .nav-wrapper {
      @include flex-center;
      gap: 35px;
      @include media-mobile {
        display: flex;
        flex-direction: column;
      }
    }

    .header__list {
      @include flex-center;
      gap: 35px;
      @include media-mobile {
        display: flex;
        flex-direction: column;
      }
    }

    .header__link {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      color: rgba(184, 190, 205, 1);
    }

    .header__buttons-wrapper{
      display: flex;
      gap: 15px;
    }

