.hero {
  padding-top: 40px;
  padding-bottom: 135px;
  @include media-tablet {
    padding-bottom: 50px;
  }
}

.hero__container {
  @include flex-center;
}

.hero__image {
  width: 100%;
  @include media-mobile {
    display: none;
  }
}

.hero__image-wrapper {
  width: 690px;
}

.hero__text-wrapper {
  width: 475px;
}

.main-heading {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.25;
  color: rgba(32, 35, 54, 1);
  margin-bottom: 95px;
  width: 370px;
  @include media-tablet {
    font-size: 40px;
    margin-bottom: 40px;
  }
  @include media-mobile {
    width: 90%;
  }
}

.hero__text {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
  color: rgba(32, 35, 54, 1);
  margin-bottom: 70px;
  @include media-tablet {
    margin-bottom: 40px;
  }
}

.hero__label {
  width: 220px;
}

.hero__input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.hero__select {
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
  border: 1px solid #AFB0B9;
  border-radius: 6px;
  width: 100%;
}

.hero__button {
  margin-top: 50px;
  font-weight: 700
}