@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin media-tablet() {
  @media (max-width: 1250px) {
    @content;
  }
}

@mixin media-mobile() {
  @media (max-width: 680px) {
    @content;
  }
}