.testimonials {
  padding-top: 125px;
  padding-bottom: 150px;
  @include media-tablet {
    padding-top: 50px;
    padding-bottom: 45px;
  }
}

.testimonials__heading {
  margin-bottom: 75px;
  @include media-tablet {
    margin-bottom: 20px;
  }
}

.testimonials__wrapper {
  @include flex-center;
  @include media-mobile {
    display: flex;
    flex-direction: column;
  }
}

.testimonials__text {
  width: 450px;
  @include media-mobile {
    width: 90%;
  }
}

.testimonials__paragraph {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 60px;
}

.testimonials__name {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}

.testimonials__image {
  width: 390px;
  @include media-mobile {
    width: 90%;
  }
}

